# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
.env
.env.local
*.pot

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
